extends layout/base

block page-title
  title Web-Dev

block wrapper
  .wrapper
    section.section.hero
      .hero__bg
        img(src="./img/psd/space-shuttle-launch.jpg",alt="background").hero__bg-img
      ul.socials
        include components/socials
      a(href="").hamburger
      a(href="").down-arrow
        img(src="./img/icons/arrow_down.svg", alt="down-arrow")
      .hero-title
        img(src="./img/icons/portfolio_header.svg", alt="").section-title
        .user.hero__user-block
          .user__photo
            .user__photo-avatar
              img(src="./img/psd/user.png", alt="user-avatar").user__photo-img
          .user__name Vladislav Ryabinin
          .user__desc Junior Front-End Developer
    section.section.about
      .about__left
        svg(
        viewBox="0 0 1000 100"
        preserveAspectRatio="none").triangle.triangle_fill_white.about__triangles
          polygon(points="0,0 0,100 1000,100")
        +title('Обо мне', 'about_header.svg', 'about__section_title')
        .user-about__picture
          img(src="./img/psd/user2.png", alt="user-avatar").user-about__picture-img
          p.user-about__picture-desc Vlad, May '17
        .user-about__title.subtitle
          | Кто я
        .user-about__text
          p
            | Я веб разработчик из Омска. Мне 23 года.Опыт в веб разработке 0,5 года.
            | Высшее техническое образование. Знание английского языка на уровне Upper-Intermediate.
            | Мне нравится делать интересные и современные проекты.
      .about__right
        svg(
        viewBox="0 0 1000 100"
        preserveAspectRatio="none").triangle.triangle_fill_beige.about__triangles
          polygon(points="0,100 1000,100 1000,0")
        .about-data
          .about-data__desc
            .about-data__title
              .subtitle
                | Чем я могу быть вам полезен
            .about-data__text
              p
          .about-data__content
            include components/circles
        .about-works
          .about-woks__title.subtitle Мои работы
          .about-works__content
            a(href="https://vladanyes.github.io/purecss/" target="_blank").about-works__item.about-works__item-first
            a(href="https://vladanyes.github.io/baby/" target="_blank").about-works__item.about-works__item-second
    section(class="map-section")
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d36615.207055143575!2d73.30856959999997!3d55." +
      "000268800000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1510078780148"
      width="100%" height="450" frameborder="0" style="border:0")